{% extends 'base.html' %} 

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Top Headlines</h2>
      {% for article in article_row %}
      <div class="card-deck">
        <div class="card">
          <img
            class="card-img-top image_url"
            src="{{article.image_url}}"
            alt="news image"
          />
        </div>
        <h5>{{article.title}}</h5>
        <p>{{article.description}}</p>
        <a href="{{article.article_url}}" target="blank">Read More..</a>
        <p class="card-text">
          <small class="text-muted">{{{{article.publishedAt}}</small>
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
