{% extends 'base.html' %} 

{% block content %}
<div class="container">
  <h2>Top Stories</h2>

  {% for article_row in articles %}

  <div class="row">
    <div class="col-md-3">
      <div class="caption" style="color: white;background-color: teal;" >
        <h4><a href="{{article.article_url}}" target="_blank" style="color: white; font-family: 'Times New Roman', Times, serif; text-transform: uppercase;">{{article.title |truncate(45)}}</a></h4>
        <p>{{article.description | truncate(80)}}</p>
        <a href="{{articles.article_url}}" target="_blank" style="color: white;"> Read More</a>
      </div>

      
      <a href="{{article.article_url}}" target="_blank">
        <img src="{{article.image}}" alt="{{article.title}}" class="img-responsive" styles="height:30px">
      </a>
      <div class="footer" >
        Published at: {{article.publishedAt}}
        By: {{article.author}}
      </div> 
    </div>
   


  </div>
</div>
{% endfor %}

{% endblock %}
