{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title>Welcome to News Highlights App</title>
  {% endif %}
</head>
<body>
  {% block content%}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          {{ macro.displaySourceList(sources) }}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div>
      <h3>Business News</h3>
      {{ macro.displayArticles(business)}}
    </div>
    <div>
      <h3>Technology</h3>
      {{ macro.displayArticles(technology)}
    </div>
    <div>
      <h3>Politics</h3>
      {{ macro.displayArticles(politics)}}
    </div>
    <div>
      <h3>Sports</h3>
      {{macro.displayArticles(sports)}}
    </div>


  </div>

  {% endblock %} 
</body>
</html>