{% macro displaySourceList(source_list) %}

  {% for source in source_list %}
    <div class="row">
   
        <div class="panel panel-default style= box-shadow: 0 4px 17px rgba(48, 6, 42, 0.35)" >
            <div class="panel-heading" style="background-color: rgb(43, 21, 46);">
              <a href="/source/{{source.id}}" style="color: white; font-size: 17px;">
                {{ source.name}}
              </a>
            </div>
            <div class="panel-body" style="background-color:#faf5f5;">
              <p>
                {{ source.description |truncate(200)}}
      
              </p>
              <a href="/source/{{source.id}}" class="btn btn-info btn-sm" style="background-color: rgb(41, 27, 43) !important;">Read Articles</a>
            </div>
        </div>
     
    </div>
  {% endfor %}    

{% endmacro %}    




